    
    {% extends 'base.html' %}

    {% block content %}

    <div class="container text-center">
      <div class="row bg-warning">
        <h2>Hi!---{{request.user.username}}---you are Authorized to use the Application</h2>
      </div>
    </div>

    <div>
      <div class="container pt-4">
        <div class="row p-0 mx-auto">
          <div class="col-lg-4 shadow p-0">
            <div class="alert alert-info">
              <h2>Add New TODO(Home)</h2>
            </div>
            <div class="p-4">
              <form method="POST" action="/addtodo/">
                {% csrf_token %} 
                {{form.as_p}}
                <hr>
                <input class="btn btn-info" type="submit" value="Add">
              </form>
            </div>
        </div>

        <!-- for table -->
        <div class="col">
          <div class="border">
            {% if todos|length == 0 %}
            <div class="p-4">
              <br>
              <br>
              <div class="alert alert-danger text-center">
                <p class="" style="font-size: 30px;">No-Todos</p>
              </div>
              <br>
              <br>
            </div>
            {% else %}
            <div>
              <table class="table">
                <thead>
                  <tr>
                    <th>#sr</th>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Priority</th>
                    <th>Action</th>
                  </tr>
                </thead>

                <tbody>
                  {% for n in todos %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{n.title}}</td>
                    <td>{{n.status}}</td>
                    <td>{{n.priority}}</td>
                    <td>
                      
                        <a href="/deletetodo/{{n.id}}" class="btn" title="Delete">🗑️</a>
                        {% if n.status == 'P' %}
                        <a href="/changestatus/{{n.id}}/C" class="btn" title="Mark completed">✅</a>
                        {%else%}
                        <a href="/changestatus/{{n.id}}/P" class="btn" title="Mark pending">🕒</a>
                        {%endif%}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            {% endif %}
          </div>
        </div>


        </div>
      </div>
    </div>

    {% endblock %}
   
      

    
   